@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("/assets/fonts/MarrSansCondensed-Bold-Web.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "MyCustomFont", sans-serif;
  font-weight: 500;
}

@theme {
    --font-sans: "MyCustomFont", sans-serif;
  }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}